@CHARSET "UTF-8";

body{
	overflow-y:hidden !important;
}

.loginDiv{
    position:fixed;
    top: 50%;
    left: 50%;
    width:300px;
    height:200px;
    margin-top: -200px;
    margin-left: -150px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}